{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

    <div class="d-flex justify-content-center mt-4 mb-4">
        <a class="d-float col-1 mr-auto" href="{{ url_for('exibirCategoria',categoria_nome=item.categoria)}}"><strong>Voltar</strong></a>
    </div>

    <div class="d-flex justify-content-center w-100">
        <div class="card w-25">
            <div class="card-body">
                <img class="card-img-top w-auto" src="https://cdn.awsli.com.br/production/static/img/produto-sem-imagem.gif" alt="{{item.nome}}">
                <div class="card-body text-center">
                  <h5 class="card-title mb-1">{{item.nome}}</h5>
                  <a href="{{ url_for('exibirCategoria',categoria_nome=item.categoria)}}" class="card-text text-muted">{{ item.categoria }}</a>
                  <div class="h-25 mt-3">
                    <p class="card-text text-left ">{{item.descricao}}</p>
                  </div>
                  <h5 class="card-title text-center mt-3">R$ {{item.preco}}</h5>
                </div>
            </div>
        </div>
        <div class="card w-50">
            <img class="card-img-top w-auto" src="https://cdn.awsli.com.br/production/static/img/produto-sem-imagem.gif" alt="Card image cap">
        </div>
    </div>


{% endblock %}
